<app-navbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="drop-down-menu">
    <button mat-menu-item><a href="./home">Home</a></button>
    <button mat-menu-item><a href="./dashboard">Dashboard</a></button>
    <button mat-menu-item><a href="./rentalProperty">Rental List</a></button>
  </mat-menu>
</app-navbar>
<!-- <app-data-table-rental></app-data-table-rental> -->
<header class="view-icon">
  <button
    mat-icon-button
    matTooltip="Card View"
    matTooltipPosition="above"
    [ngClass]="{
      selectedView: showCardSection,
      disabledView: showCardSection === false
    }"
    [disabled]="showCardSection != true"
    (click)="toggleViews()"
  >
    <mat-icon>view_module</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Grid View"
    matTooltipPosition="above"
    [ngClass]="{
      selectedView: showTableSection,
      disabledView: showTableSection === false
    }"
    [disabled]="showTableSection != true"
    (click)="toggleViews()"
  >
    <mat-icon>view_stream</mat-icon>
  </button>
</header>
<app-rental-card
  [ngClass]="{ showCardSection: showCardSection }"
></app-rental-card>
<div
  class="table-wrapper"
  [ngClass]="{ showTableSection: showTableSection }"
>
<div>
  <mat-form-field appearance="fill" fxFlex="40%">
    <mat-label>Fitler</mat-label>
    <input matInput (keyup)="doFilter($event.target.value)">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.street }}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>State</th>
    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
  </ng-container>
  <ng-container matColumnDef="zip">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip</th>
    <td mat-cell *matCellDef="let element">{{ element.zip }}</td>
  </ng-container>
  <ng-container matColumnDef="bedrooms">
    <th mat-header-cell *matHeaderCellDef>Bedrooms</th>
    <td mat-cell *matCellDef="let element">{{ element.bedrooms }}</td>
  </ng-container>
  <ng-container matColumnDef="baths">
    <th mat-header-cell *matHeaderCellDef>Baths</th>
    <td mat-cell *matCellDef="let element">{{ element.baths }}</td>
  </ng-container>
  <ng-container matColumnDef="sqft">
    <th mat-header-cell *matHeaderCellDef>Sqft</th>
    <td mat-cell *matCellDef="let element">{{ element.sqft }}</td>
  </ng-container>
  <ng-container matColumnDef="hasTenants">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HasTenants</th>
    <td mat-cell *matCellDef="let element">{{ element.hasTenants }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator 
  [pageSizeOptions]="[5, 10, 20]" 
  showFirstLastButtons>
</mat-paginator>

</div>
