<main>
  <header>
    <app-navbar>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class='drop-down-menu'>
        <button mat-menu-item><a href="./home">Home</a></button>
        <button mat-menu-item><a href="./dashboard">Dashboard</a></button>
      </mat-menu>
    </app-navbar>
    <div class="headerIntro">
      <section>
        <img src="../../assets/image/openhouseplannerLogo.svg" class="logo" alt="logo" />
        <a href="./home" class="app-name">OPENHOUSE PLANNER</a>
      </section>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </header>
</main>

